.validation-error{
  color: red;
  font-size: 11px;
  margin-left: 5%;
}
.header{
  width: 100%;
  margin: 15px auto;
  text-align: center;
}
.signup-form-card{
  position: relative;
  height: 400px;
  width:300px;
  margin: 20% auto;
  display: block;
  border: solid thin #aaa;
  border-radius: 5px;
}
.signup-form-card .footer{
  position: absolute;
  right:0px;
  left:0px;
  bottom: 0px;
  border: none;
  padding-top: 5px;
  border-top: solid thin #aaa;
}
.progress-container{
  position: relative;
  margin-top:20px;
  right:0px;
  left:0px;
  height:4px;
  display: block;
  border: solid thin #aaa;
  border-left: none;
  border-right: none;
}
.progress{
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 4px;
}
.progress-0{
  width: 33.3%;
}
.progress-1{
  width: 66.6%;
}
.progress-2{
  width: 100%;
}
.field-group{
  margin-top: 20px;
  left:0px;
  right:0px;
  width:100%;
  text-align: center;
  align-items: center;
  align-content: center;
}
button{
  border: none;
  cursor: pointer;
}
